<!DOCTYPE html>

<html lang="">
<head>
    <title>Formulář poslán!</title>
</head>
<body>
<div>
    <h1>Děkuji za odeslání formuláře!</h1>
    <br/>
    <a href="@Url.Action("Index", "StudentForm")">Podat další žádost</a>
</div>
</body>
</html>