<h1>Dobrý den</h1>

<h3>Vítejte na stránkách ministerstva <i>snižujeme finance vysokým školám a ne jen těm každý rok</i></h3>

Pokud chcete přihlásit své dítě na střední školu, učiňte tak prosím přes odkaz
<br/>
<a href="@Url.Action("Index", "StudentForm")">Odkaz</a>